## Linear Regression

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('Customer_Churn.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'Customer_Churn.csv'

In [121]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [122]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [123]:
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors = 'coerce')

In [124]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7032 non-null   float64
 20  Churn             7043 non-null   object
dtypes: float64(2), int64(2), object(17)
memory usage: 1.1+ MB

In [125]:
df.shape

(7043, 21)

In [126]:
df.isna().sum()

customerID           0
gender               0
SeniorCitizen        0
Partner              0
Dependents           0
tenure               0
PhoneService         0
MultipleLines        0
InternetService      0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Contract             0
PaperlessBilling     0
PaymentMethod        0
MonthlyCharges       0
TotalCharges        11
Churn                0
dtype: int64

In [127]:
df = df.dropna()

In [128]:
df.isna().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [129]:
df.describe()

       SeniorCitizen       tenure  MonthlyCharges  TotalCharges
count    7032.000000  7032.000000     7032.000000   7032.000000
mean        0.162400    32.421786       64.798208   2283.300441
std         0.368844    24.545260       30.085974   2266.771362
min         0.000000     1.000000       18.250000     18.800000
25%         0.000000     9.000000       35.587500    401.450000
50%         0.000000    29.000000       70.350000   1397.475000
75%         0.000000    55.000000       89.862500   3794.737500
max         1.000000    72.000000      118.750000   8684.800000

In [130]:
df.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [131]:
import matplotlib.pyplot as plt
import seaborn as sns

In [132]:
df.corr()

                SeniorCitizen    tenure  MonthlyCharges  TotalCharges
SeniorCitizen        1.000000  0.015683        0.219874      0.102411
tenure               0.015683  1.000000        0.246862      0.825880
MonthlyCharges       0.219874  0.246862        1.000000      0.651065
TotalCharges         0.102411  0.825880        0.651065      1.000000

In [133]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [134]:
x = df.loc[:,['MonthlyCharges','tenure']].values
x

array([[ 29.85,   1.  ],
       [ 56.95,  34.  ],
       [ 53.85,   2.  ],
       ...,
       [ 29.6 ,  11.  ],
       [ 74.4 ,   4.  ],
       [105.65,  66.  ]])

In [137]:
#df['TotalCharges'] = df['TotalCharges'].astype(float)
y = df.loc[:, ['TotalCharges']].values
y

array([[  29.85],
       [1889.5 ],
       [ 108.15],
       ...,
       [ 346.45],
       [ 306.6 ],
       [6844.5 ]])

In [138]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.30, random_state=0)

In [139]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((4922, 2), (2110, 2), (4922, 1), (2110, 1))

In [140]:
regressor = LinearRegression()
regressor.fit(x_train, y_train)

LinearRegression()

In [141]:
y_pred = regressor.predict(x_test)
y_pred, y_test

(array([[-1350.73879297],
        [ -365.21108083],
        [-1380.95603098],
        ...,
        [ 3053.90669946],
        [ 3416.71248806],
        [ 2651.85994828]]),
 array([[  20.65],
        [ 330.25],
        [  19.8 ],
        ...,
        [2815.25],
        [1623.15],
        [1296.15]]))

In [142]:
from sklearn.metrics import r2_score

In [147]:
r2 = r2_score(y_test, y_pred)*100
print(f'R2 Value is : {r2}')

R2 Value is : 89.05146634490715

In [145]:
from Adjustedr2 import adjusted_r2

Enter the R2 Value: 89.05
Enter the Number of Observations: 4922
Enter the Number of Independent Variable: 2
Adjusted R2 is:  89.08579995934133

In [ ]:
from sklearn import metrics
print(dir(metrics))

## Logistic Regression

In [162]:
# df['gender']= pd.get_dummies(df['gender'])
# df['Partner']= pd.get_dummies(df[ 'Partner'])
# df['Dependents']= pd.get_dummies(df['Dependents'])
# df['PhoneService']= pd.get_dummies(df['PhoneService'])

In [163]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,1,0,0,1,1,1,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,0,0,1,1,34,0,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,0,0,1,1,2,0,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,0,0,1,1,45,1,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,1,0,1,1,2,0,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [203]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7032 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7032 non-null   object
 1   gender            7032 non-null   uint8
 2   SeniorCitizen     7032 non-null   int64
 3   Partner           7032 non-null   uint8
 4   Dependents        7032 non-null   uint8
 5   tenure            7032 non-null   int64
 6   PhoneService      7032 non-null   uint8
 7   MultipleLines     7032 non-null   object
 8   InternetService   7032 non-null   object
 9   OnlineSecurity    7032 non-null   object
 10  OnlineBackup      7032 non-null   object
 11  DeviceProtection  7032 non-null   object
 12  TechSupport       7032 non-null   object
 13  StreamingTV       7032 non-null   object
 14  StreamingMovies   7032 non-null   object
 15  Contract          7032 non-null   object
 16  PaperlessBilling  7032 non-null   object
 17  PaymentMethod     7032 non-null   object
 18  MonthlyCharges    7032 non-null   float64
 19  TotalCharges      7032 non-null   float64
 20  Churn             7032 non-null   uint8
dtypes: float64(2), int64(2), object(12), uint8(5)
memory usage: 968.3+ KB

In [165]:
df.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [204]:
x = df[['MonthlyCharges', 'TotalCharges']].values
x

array([[  29.85,   29.85],
       [  56.95, 1889.5 ],
       [  53.85,  108.15],
       ...,
       [  29.6 ,  346.45],
       [  74.4 ,  306.6 ],
       [ 105.65, 6844.5 ]])

In [205]:
df['Churn'] = pd.get_dummies(df['Churn'])

In [220]:
y = df.iloc[:,20].values
y.reshape(1,-1)

array([[1, 1, 0, ..., 1, 0, 1]], dtype=uint8)

In [221]:
from sklearn.linear_model import LogisticRegression

In [222]:
regressor = LogisticRegression()
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.30, random_state=0)

In [223]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((4922, 2), (2110, 2), (4922,), (2110,))

In [224]:
regressor.fit(x_train, y_train)

LogisticRegression()

In [297]:
y_pred = regressor.predict(x_test)
y_pred, y_test

(array([1, 1, 1, ..., 1, 1, 1], dtype=uint8),
 array([[1],
        [1],
        [1],
        ...,
        [1],
        [1],
        [1]], dtype=uint8))

# Decission Tree

In [227]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,1,0,0,1,1,1,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,1
1,5575-GNVDE,0,0,1,1,34,0,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,1
2,3668-QPYBK,0,0,1,1,2,0,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,0
3,7795-CFOCW,0,0,1,1,45,1,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,1
4,9237-HQITU,1,0,1,1,2,0,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,0

In [228]:
x = df[['MonthlyCharges', 'TotalCharges']].values
x

array([[  29.85,   29.85],
       [  56.95, 1889.5 ],
       [  53.85,  108.15],
       ...,
       [  29.6 ,  346.45],
       [  74.4 ,  306.6 ],
       [ 105.65, 6844.5 ]])

In [231]:
y = df.loc[:,['Churn']].values
y

array([[1],
       [1],
       [0],
       ...,
       [1],
       [0],
       [1]], dtype=uint8)

In [232]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.30, random_state=0)

In [233]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((4922, 2), (2110, 2), (4922, 1), (2110, 1))

In [234]:
from sklearn.tree import DecisionTreeClassifier

<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject

In [246]:
classifier = DecisionTreeClassifier(criterion = 'entropy', random_state = 0, 
    max_depth=2,
    min_samples_split=20,
    min_samples_leaf=40)

classifier.fit(x_train, y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=2, min_samples_leaf=40,
                       min_samples_split=20, random_state=0)

In [247]:
y_pred = classifier.predict(x_test)
y_pred_train = classifier.predict(x_train)
y_pred, y_pred_train

(array([1, 1, 1, ..., 1, 1, 1], dtype=uint8),
 array([1, 1, 0, ..., 1, 0, 1], dtype=uint8))

In [248]:
from sklearn import metrics
from sklearn.metrics import confusion_matrix, accuracy_score, roc_auc_score, plot_roc_curve

In [271]:
cm = confusion_matrix(y_test, y_pred)
print(f'DT Confusion Matrix: ', cm)

a = accuracy_score(y_train, y_pred_train)*100
print(f'DT Accuracy Score of train is: {a}')

b = roc_auc_score(y_train, y_pred_train)*100
print(f'DT Roc AUC Score of train is: {b}')

c = accuracy_score(y_test, y_pred)*100
print(f'DT Accuracy Score of test is: {c}')

d = roc_auc_score(y_test, y_pred)*100
print(f'DT Roc AUC Score of test is: {d}')

DT Confusion Matrix:  [[ 252  303]
 [ 214 1341]]
DT Accuracy Score of train is: 98.94351889475823
DT Roc AUC Score of train is: 98.48098846804159
DT Accuracy Score of test is: 75.49763033175356
DT Roc AUC Score of test is: 65.82167376379596

# Random Forest

In [286]:
x = df[['MonthlyCharges', 'TotalCharges']].values
x

array([[  29.85,   29.85],
       [  56.95, 1889.5 ],
       [  53.85,  108.15],
       ...,
       [  29.6 ,  346.45],
       [  74.4 ,  306.6 ],
       [ 105.65, 6844.5 ]])

In [287]:
y = df.loc[:,['Churn']].values
y

array([[1],
       [1],
       [0],
       ...,
       [1],
       [0],
       [1]], dtype=uint8)

In [288]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.30, random_state=0)

In [289]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((4922, 2), (2110, 2), (4922, 1), (2110, 1))

In [290]:
from sklearn.ensemble import RandomForestClassifier

In [291]:
classifier = RandomForestClassifier(n_estimators = 50, criterion = 'gini', random_state = 0,
                                    
   
    max_features=2, n_jobs=-1)
classifier.fit(x_train, y_train)

<ipython-input-291-2a90f7827371>:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  classifier.fit(x_train, y_train)

RandomForestClassifier(max_features=2, n_estimators=50, n_jobs=-1,
                       random_state=0)

In [292]:
y_pred = classifier.predict(x_test)
y_pred_train = classifier.predict(x_train)
y_pred, y_pred_train

(array([1, 1, 0, ..., 1, 1, 1], dtype=uint8),
 array([1, 1, 1, ..., 0, 1, 1], dtype=uint8))

In [293]:
from sklearn import metrics
from sklearn.metrics import confusion_matrix, accuracy_score, roc_auc_score, plot_roc_curve

In [294]:
cm = confusion_matrix(y_test, y_pred)
print(f'RF - Confusion Matrix is : ', cm)

a = accuracy_score(y_train, y_pred_train)*100
print(f'RF - Accuracy Score of train is: {a}')

b = roc_auc_score(y_train, y_pred_train)*100
print(f'RF - Roc AUC Score of train is: {b}')

c = accuracy_score(y_test, y_pred)*100
print(f'RF - Accuracy Score of test is: {c}')

d = roc_auc_score(y_test, y_pred)*100
print(f'RF - Roc AUC Score of test is: {d}')

RF - Confusion Matrix is :  [[ 252  303]
 [ 214 1341]]
RF - Accuracy Score of train is: 98.94351889475823
RF - Roc AUC Score of train is: 98.48098846804159
RF - Accuracy Score of test is: 75.49763033175356
RF - Roc AUC Score of test is: 65.82167376379596